
<script src="/js/phaser.min.js"></script>
<script src="/src/seaHorse/index.js" type="module"></script>


<link rel="stylesheet" href="/css/startP.css" media="">

<div class="row">
    <div class="col-md-12  ">
        <div class="print card mx-auto" >

        </div>
        <div id="vertical"></div>
        <div class="contorno" id="contorno">
            <div class="ingreso" id="ingreso">
                {{!-- <button class="btn btn-outline-info  boton" onclick="iniciar()">
                    Ingresar al juego
                </button> --}}
            </div>
        </div>
       
    </div>
</div>

        <div class="row">
            <div class="col d-flex justify-content-around ">
                {{!-- <div class=" mr-auto">
                    <button class="btn btn-success btn-lg">
                        Ampliar
                    </button>
                </div>
                <div class=" ml-auto">
                    <button class="btn btn-success btn-lg">
                        Regresar
                    </button>
                </div> --}}
            </div>
        </div>

 {{!-- <script src="../../node_modules/phaser/dist/phaser.js"></script> --}}
 

            {{!-- <script src="/js/iniciar.js"></script>  --}}
