<script src="/js/phaser.min.js"></script>
<script src="/src/TicTacToe/index.js" type="module"></script>


<link rel="stylesheet" href="/css/startP.css" media="">

        <div class="row">
            <div class="col-md-12  ">
                <div class="print card mx-auto" >

                </div>
                <div id="vertical"></div>
                <div class="contorno" id="contorno">
                    <div class="ingreso" id="ingreso">
                    </div>
                </div>
            
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-around ">
            </div>
        </div>