

<header>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>
<link rel="stylesheet" href="/css/about.css">

<main>
     <section class="contenedor sobre-nosotros">

            {{!-- <h2 class="titulo">Aprendizaje y recreación basado en video juegos</h2> --}}
            <h2 class="titulo">Software recreativo basado en video juegos</h2>

            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos mr-5">
                    <h3><span>1</span>¿Por qué es importante?</h3>
                    <p>El aprendizaje basado en el juego es un enfoque pedagógico que destaca la importancia del uso del juego
                        para fomentar el desarrollo y el aprendizaje del niño en diversas áreas. El juego libre y el guiado son dos tipos
                        distintos de aprendizaje basados en el juego: el primero está dirigido por el niño y su motivación es interna, y el
                        segundo es guiado por el adulto y está orientado a un objetivo específico del aprendizaje.</p>
                   
                    <h3><span>2</span>¿Qué sabemos?</h3>
                    <p>El aprendizaje basado en el juego afecta el desarrollo de las habilidades sociales, cognitivas y académicas del
                        niño. Hay cada vez más evidencia que tanto el juego libre como el guiado contribuyen de forma diferente a
                        estos resultados del desarrollo. </p>
                </div>
                
                <img src="assets/ilustracion2.svg" alt="" class="imagen-about-us">
            </div>


            <div class="contenedor-sobre-nosotros mr-5">
                <img src="assets/ilustracion3.svg" alt="" class="imagen-about-us">
                <div class="contenido-textos ">
                    <h3><span>3</span>La idea de nuestro proyecto</h3>
                    <p>En la edad de 6 a 7 años los niños son capaces de escribir historias, descripciones y escribir pequeñas notas para compartir con los demás. 
                        Por lo que es una opción potencial es el aprendizaje basado en juegos para que participe en experiencias de retos, obteniendo el mejor puntaje o analizando la mejor forma de resolver la dificultad del juego.</p>
                   
                    <h3><span>4</span>El objetivo del proyecto</h3>
                    <p>
                        Brindar una herramienta tecnológica capaz de ser objeto de aprendizaje y recreación basado en video juegos
                        delimitando a edades de 6 a 7 años, donde es primordial los retos y desafios entre ellos.
                     </p>
                </div>
                
            </div>
     </section>

     

    <section class="galeria mb-5" id="galeria">
        <div class="fondo"></div>
        <h2 class="titulo">Video juegos desarrollados</h2>

        <div class="foto">
            <img src="assets/SeaHorse.png" alt="">
        </div>
        <div class="foto">
            <img src="assets/TicTacToe.png" alt="">
        </div>
        <div class="foto">
            <img src="assets/Tom.png" alt="">
        </div>
        <div class="foto">
            <img src="assets/lenador.png" alt="">
        </div>
        <div class="foto">
            <img src="assets/ninja.png" alt="">
        </div>
        <div class="foto">
            <img src="assets/pinguino.png" alt="">
        </div>
        
    </section>

    <section class="clientes contenedor ">
            <h2 class="titulo  mb-6">Creadores</h2>
            <div class="cards ">
                <div class="card mt-4">
                    <img src="assets/Cv.jpg" alt="">
                    <div class="contenido-texto-card text-center mt-4">
                        <h4> <b> Joao García</b></h4>
                        <p>
                            "Si tengo una aspiración, lo convierto en meta. <br>
                            Y si tengo una meta no dudaré en luchar para cumplirlo". 
                        </p>
                        <hr class="">
                        <p>Facultado de ciencias informáticas - 9no Nivel</p>
                    </div>
                </div>
                <div class="card mt-4">
                    <img src="assets/cv1.jpeg" alt="">
                    <div class="contenido-texto-card text-center mt-4">
                        <h4>Steffy Campo</h4>
                        <p>
                            "La imaginación es el principio de la creación. Imaginas lo que deseas, persigues lo que imaginas y finalmente, creas lo que persigues".
                        </p>
                        <hr class="">
                        <p>Facultado de ciencias informáticas - 9no Nivel</p>
                    </div>
                </div>
            </div>
        </section>

</main>