
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="/css/contact.css">


<div class="container">
    <div class="row ">
        <div class="col text-center mt-3 mb-3">
            <h1 class="formC ">Formulario de Contacto</h1>
        </div>
    </div> 
    <div class="row ">
        <div class="col-lg-8 col-md-12 ">
            <div class="card contor">
                <div class="card-body interior">
                    <h3 class="cont">Contáctenos</h3>
                    <div class="borI">
                         <form action="/send-email" method="post">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Nombres Completos:</label>
                                    <input type="text" name="fullname" class="form-control" placeholder="Funplay" autofocus>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Email: </label>
                                    <input type="email" name="email" class="form-control" placeholder="funplay@live.com">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Número de contacto:</label>
                                    <input type="tel" name="phone" class="form-control" placeholder="000000000">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Asunto:</label>
                                    <input type="text" name="affair" class="form-control" placeholder="Asunto">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Descripción:</label> 
                                    <textarea name="message" rows="3" class="form-control" placeholder="Descripción"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class=" btn btn-outline-info btn-block enviar">
                                    Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card contor1">
                <div class="card-body interior">
                    <h4>Más Información</h4>
                        <ul>
                            <li><i class="fa fa-map-marker-alt"></i> Sitio Web</li>
                            <li><i class="fa fa-phone"></i> (593) 96 028 1664</li>
                            <li><i class="fa fa-envelope-open-text"></i> funplayv1@website.com</li>
                        </ul>
                        <p>
                           Para una atención personalizada comunicarse x estos canales
                        </p>
                        <p>Funplay.com</p>
                </div>
            </div>
        </div>
    </div>
</div>