  

 <main class="container">

<div class="row">
    <div class="col">
         <div class="card mb-3 mt-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                <img src="{{user.photo}}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Hello, {{user.name}} {{user.username}} {{user.usernameF}}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">{{user.date}}</small></p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">

        <div class="card mb-3 mt-3" style="max-width: 540px;">
            <div class="row no-gutters">
                {{!-- <div class="col-md-4">
                <img src="{{user.photo}}" class="card-img" alt="...">
                </div> --}}
                <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title">Hello, {{user.name}} {{user.username}} {{user.usernameF}}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">{{user.date}}</small></p>
                    <a class="btn btn-primary btn-lg" href="/notes/add" role="button">Notas</a>
                    <a class="btn btn-success btn-lg" href="#" role="button">Perfil</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

       <div class="row mt-3 mb-3">
            <div class="col text-center">
                <h1>Elije un Juego</h1>
            </div>
        </div>


<div class="row mb-4 mt-4">
            {{!-- Sea Horse --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/SeaHorse.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sea Horse</h5>
                        <p class="card-text text-center">
                            Un caballo de mar que tendra que recolectar diamantes en un tiempo determinado, preparate para la aventura.
                        </p>
                        <a href="/start/startPlay" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- BackJack --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/backJack.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Back Jack</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay1" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Lenador --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/lenador.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Leñador</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay2" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Ninja --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/ninja.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ninja</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay3" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Pinguino --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/pinguino.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pinguino</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay4" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Ceresita --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/ceresita.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ceresita</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay5" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Incognito --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/incognito.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Incognito</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay6" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>

        </div>



        {{!-- <div class="jumbotron bg-transparent border border-info">
            <h1 class="display-5">Hello, {{user.name}} {{user.username}} {{user.usernameF}}</h1> 
            <img src="{{user.photo}}" alt="" style="">
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="/notes/add" role="button">Notas</a>
        </div> --}}

        <!-- tarjetas -->

        {{!-- <div class="row mb-4">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card bg-transparent">
                    <img src="./assets/play1.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/plays/juego1" class="btn btn-outline-info btn-block">Juego 1</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card bg-transparent">
                    <img src="./assets/play1.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/plays/juego2" class="btn btn-outline-info btn-block">juego 2</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card bg-transparent">
                    <img src="./assets/play1.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/plays/juego3" class="btn btn-outline-info btn-block">juego3</a>
                    </div>
                </div>
            </div>
        </div> --}}
    </main>