{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="/css/prueba.css">


<div class="container">
    <div class="row ">
        <div class="col text-center">
            <h1 class="formC ">Formulario de Contacto</h1>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-8 col-md-12 ">
            <div class="card contor">
                <div class="card-body interior">
                    <h3 class="cont">Contáctenos</h3>
                    <div class="borI">
                         <form action="/send-email" method="post">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Nombres Completos:</label>
                                    <input type="text" name="fullname" class="form-control" placeholder="Funplay" autofocus>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Email: </label>
                                    <input type="email" name="email" class="form-control" placeholder="funplay@live.com">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Número de contacto:</label>
                                    <input type="tel" name="phone" class="form-control" placeholder="000000000">
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label>Asunto:</label>
                                    <input type="text" name="affair" class="form-control" placeholder="Asunto">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Descripción:</label> 
                                    <textarea name="message" rows="3" class="form-control" placeholder="Descripción"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class=" btn btn-outline-info btn-block enviar">
                                    Enviar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card contor1">
                <div class="card-body interior">
                    <h4>Más Info</h4>
                        <ul>
                            <li><i class="fa fa-map-marker-alt"></i> Baker Street</li>
                            <li><i class="fa fa-phone"></i> (111) 111 111 111</li>
                            <li><i class="fa fa-envelope-open-text"></i> contact@website.com</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
                        <p>Funplay.com</p>
                </div>
            </div>
        </div>
    </div>
</div> --}}




 <script src="./js/phaser.min.js"></script>
 <script src="./src/index.js" type="module"></script>
 <div class="row">
     <div class="col text-center">
         <h1 class="">Elije un Juego</h1>
     </div>
 </div>

 <div class="row mb-4 mt-4">
            {{!-- Sea Horse --}}
            <div class=" col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class=" card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/SeaHorse.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sea Horse</h5>
                        <p class="card-text text-center">
                            Un caballo de mar que tendra que recolectar diamantes en un tiempo determinado, preparate para la aventura.
                        </p>
                        <a href="/start/startPlay" id="SEA_HORSE" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Tic Tac Toe --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/TicTacToe.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Tic Tac Toe</h5>
                        <p class="card-text text-center">
                            Compite en el tic tac toe con circulo y "X" que gane el mejor!
                            </p>
                        <a href="/start/startPlay1" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
             {{!-- TOM --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/Tom.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">TOM</h5>
                        <p class="card-text text-center">
                            Un tomate recolectador de cerezas, con unos enemigos que se lo impedirán, aventurate!
                            </p>
                        <a href="/start/startPlay5" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Lenador --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/lenador.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Leñador</h5>
                        <p class="card-text text-center">
                            Corta las ramas sin equivocarte, lo lograrás?
                            </p>
                        <a href="/start/startPlay2" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Ninja --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/ninja.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Ninja</h5>
                        <p class="card-text text-center">
                            Encuentra al ninja y capturalo
                            </p>
                        <a href="/start/startPlay3" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- Pinguino --}}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                {{!-- <div class="card bg-transparent"> --}}
                    <img src="./assets/pinguino.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">Pinguino</h5>
                        <p class="card-text text-center">
                            Dispara al pinguino y acumula punto
                            </p>
                        <a href="/start/startPlay4" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div>
            {{!-- TOM --}}
            {{!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card mt-3">
                    <img src="./assets/Tom.png" class="card-img-top" alt="Imagen">
                    <div class="card-body">
                        <h5 class="card-title text-center">TOM</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/start/startPlay5" class="btn btn-outline-info btn-block">Comenzar</a>
                    </div>
                </div>
            </div> --}}
            {{!-- Incognito --}}
            
            
          


<div class="row mt-4">
     <div class="col center" >
         <div class="ingreso" id="ingreso">
              
        </div>
     </div>
 </div>