<link rel="stylesheet" href="/css/start.css">

 <script src="./js/phaser.min.js"></script>
 <script src="./src/index.js" type="module"></script>


<header>
        <div class="wave" style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>
</header>

 <div class="row">
     <div class="col text-center">
         <h1 class="titulo1">Elije un Juego</h1>
     </div>
 </div>

<div class="row mb-4 mt-4">

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/SeaHorse.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">Sea Horse</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-times-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                    Un caballo de mar que tendra que recolectar diamantes en un tiempo determinado, preparate para la aventura.
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/TicTacToe.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">Tic Tac Toe</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-times-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                    Compite en el tic tac toe con circulo y "X" que gane el mejor!
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay1" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/Tom.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">TOM</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-check-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                    Un tomate recolectador de cerezas, con unos enemigos que se lo impedirán, aventurate!
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay5" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>
    
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/lenador.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">Leñador</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-check-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                   Corta las ramas sin equivocarte, lo lograrás?
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay2" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/ninja.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">Ninja</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-times-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                    Encuentra al ninja y capturalo
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay3" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="card mt-3">
            <img src="./assets/pinguino.png" class="card-img-top" alt="Imagen">
            <div class="card-header">
                <h5 class="card-title text-center mt-2">Pinguino</h5>
            </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <h6>Recomendado en:  </h6>
                        <i class="fa fa-desktop"> Pc  </i> <br>
                        <div class="mt-2">
                            <i class="fa fa-check-circle">   </i>
                            <i class="ml-4 fa fa-laptop"> laptop </i>
                            <i class="ml-4 fa fa-tablet"> tablet  </i>
                            <i class="ml-4 fa fa-mobile"> móvil  </i>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-3">Entradas:</h6>
                        <i class="ml-4 fa fa-check-circle"> mouse</i>
                        <i class="ml-4 fa fa-times-circle"> teclas</i>
                        <i class="ml-4 fa fa-check-circle"> touch</i>
                    </li>
                </ul>
            <div class="card-body">
                <p class="card-text text-center">
                   Dispara al pinguino y acumula punto
                </p>
            </div>
            <div class="card-footer">
                <a href="/start/startPlay4" class="btn btn-outline-info btn-block">Comenzar</a>
            </div>
        </div>
    </div>

</div>

<div class="row mt-4">
     <div class="col center" >
         <div class="ingreso" id="ingreso">
              
        </div>
     </div>
 </div>