/* margin: auto 0; */


/* .formC {
    margin: 0 auto 10px auto;
    font-weight: 400;
}

.contor {
    padding: 15px;
    box-shadow: 0 0 20px 0 rgba(129, 38, 141, 0.582);
}

.contor1 {
    box-shadow: 0 0 20px 0 rgba(14, 172, 183, 0.582);
    background: rgb(14, 172, 183);
    color: #fff;
    transition: background-color 1s ease-out;
}

.interior {
    margin-bottom: 0px;
}

.interior ul {
    list-style: none;
    padding: 0;
}

.cont {
    font-weight: 400;
    margin-bottom: 10px;
}

.borI {
    padding: 10px;
}

.form-group input {
    border-radius: 30px;
    background-color: #c2c2c2;
}

.form-group textarea {
    background-color: #c2c2c2;
}

.form-group button {
    margin-top: 15px;
    border-radius: 30px;
}

@media(max-width: 730px) {
    .formC {
        margin: 20px auto;
        font-size: 35px;
    }
}

@media(max-width: 500px) {
    .formC {
        font-size: 27px;
    }
}

@media(max-width: 404px) {
    .formC {
        margin: 15px auto;
        font-size: 25px;
    }
} */


/* ================================ */


/* ================================ */


/* ================================ */

.card {
    background-color: #172025;
    /* background-image: url('/assets/ejemploSVG.svg'); */
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    /* position: absolute; */
}


/* .border {
    box-shadow: 0px 0px 20px 0px rgba(29, 150, 211, 0.63);
} */

.print {
    height: 500px;
    width: 1000px;
}

.contorno {
    position: relative;
    height: 440px;
    width: 940px;
    background-color: blanchedalmond;
    margin: 5vh auto;
    left: 50%;
    margin-left: -470px;
    margin-top: -470px;
}

#contorno #ingreso {
    position: absolute;
    width: 940px;
    height: 440px;
    background-color: #fff;
    /* background-image: url('/assets/ejemploSVG.svg'); */
}

#contorno #ingreso button {
    position: absolute;
    margin: 200px 393px;
}

#vertical {
    display: none;
}

@media all and (orientation: portrait) {
    .card {
        display: none;
    }
    .btn {
        display: none;
    }
    #contorno {
        display: none;
    }
    #vertical {
        /* margin-top: 35px; */
        margin: 25px 40px;
        display: block;
        position: fixed;
        width: 60%;
        height: 400px;
        z-index: 0;
        background: url(/assets/vertical.jpg);
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 1198px) {
    .print {
        margin-top: 50px;
    }
    /* background-image: url('/assets/ejemploSVG.svg'); */
    .card {
        margin: 0, 50px;
        width: auto;
    }
    #contorno {
        /* margin: 0 auto; */
        width: 860px;
        left: 55%;
        margin-left: -480px;
    }
    #contorno #ingreso {
        width: 860px;
        height: 440px;
        background-color: blue;
    }
    #contorno #ingreso button {
        margin: 0;
    }
}

@media screen and (max-width: 980px) {
    .print {
        height: 400px;
    }
    #contorno {
        /* margin: 0 auto; */
        width: 640px;
        height: 340px;
        left: 71%;
        margin-top: -370px;
        margin-left: -470px;
    }
    #contorno #ingreso {
        width: 640px;
        height: 340px;
        background-color: blue;
    }
    #contorno #ingreso button {
        margin: 0;
    }
}

@media screen and (max-width: 766px) {
    .print {
        margin-top: 30px;
    }
    #contorno {
        /* margin: 0 auto; */
        width: 460px;
        height: 340px;
        left: 81%;
        margin-top: -370px;
        margin-left: -390px;
    }
    #contorno #ingreso {
        width: 460px;
        height: 340px;
        background-color: blue;
    }
}


/* justificar el giro de pantalla */

@media screen and (max-width: 606px) {
    #vertical {
        width: 78%;
    }
}

@media screen and (max-width: 404px) {
    #vertical {
        width: 72%;
    }
}