* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    background: none;
}

nav ul li a {
    color: #000;
}


/* Header */

header {
    width: 100%;
    height: 270px;
    /* background: #6e1fa3; */
    background: #840094;
    background: -webkit-linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background: linear-gradient(to right, hsla(286, 96%, 33%, 0.781), hsla(286, 97%, 27%, 0.664));
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;
    margin-top: 0;
    top: 0;
    left: 0;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.titulo1 {
    margin-top: 20px;
    color: #642a73;
    /* font-size: 30px;
    text-align: center;
    margin-bottom: 60px; */
    font-weight: 600;
    /* font-style: italic; */
}

.fa {
    color: black;
}

@media screen and (max-width: 1196px) {
    .titulo1 {
        margin-top: 45px;
        /* font-size: 40px;
        margin-bottom: 0; */
    }
    header {
        height: 240px;
    }
}

@media screen and (max-width: 993px) {
    .titulo1 {
        margin-top: 30px;
        font-size: 40px;
        margin-bottom: 0;
    }
    header {
        height: 230px;
    }
    footer {
        color: black;
    }
}

@media screen and (max-width:530px) {
    .titulo1 {
        margin-top: 50px;
        font-size: 30px;
    }
}