    * {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        background: url('/assets/bg_puple.png');
        background-size: cover;
        background-attachment: fixed;
    }
    /* ================================
                Header
    ================================ */
    
    .titulo {
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .logo {
        margin-top: 0px;
    }
    
    .logo h1 {
        color: #262744;
        font-weight: 600;
        position: absolute;
        z-index: 0;
        margin-left: 10px;
        margin-top: 31px;
    }
    
    .logo img {
        width: 100px;
        height: 120px;
    }
    
    .nom {
        margin-left: 0px;
        margin-bottom: 0px;
    }
    
    .menu a {
        margin: 0 5px;
    }
    
    nav ul {
        margin-right: 60px;
    }
    
    nav ul li a {
        color: #f2f2f2;
        font-weight: 500;
        font-size: 20px;
        border-radius: 3px;
    }
    
    a.active,
    a:hover {
        background: #1b9bff;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: rgb(25, 100, 185);
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    /* ================================
                Main
    ================================ */
    
    .jugador img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 400px;
        height: 300px;
        border-radius: 30px;
        box-shadow: 0px 0px 20px 0px rgba(29, 150, 211, 0.63);
    }
    
    .btnInicio {
        margin: 0px 100px 0px 100px;
    }
    
    .btnInicio a {
        margin: 0px 0 20px 0px;
        border-radius: 30px 30px 30px 30px;
    }
    
    .btnSecundario a {
        border-radius: 30px 30px 30px 30px;
        margin-bottom: 20px;
    }
    
    .smsTexto {
        margin-left: 80px;
        margin-right: 50px;
        font-style: italic;
    }
    
    .smsTexto p {
        margin-bottom: 0;
    }
    /* lado 2 */
    
    #capa1 {
        position: absolute;
        z-index: -1;
    }
    
    #capa2 img {
        position: relative;
        margin-top: 120px;
        margin-left: 0px;
        border: solid 1px #B7B7B7;
        box-sizing: content-box;
        height: 265px;
        width: 417px;
        border-radius: 0px 0px 10px 10px;
    }
    
    .contorno {
        overflow: hidden;
    }
    
    #capa2 ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: cambio 20s infinite alternate linear;
    }
    
    #capa2 li {
        width: 100%;
        list-style: none;
    }
    
    #capa2 img {
        width: 100%;
    }
    
    .contorno {
        margin-left: 91px;
        width: 79%;
    }
    
    .contorno ul li {
        margin-left: 0px;
    }
    
    @keyframes cambio {
        0% {
            margin-left: 0;
        }
        20% {
            margin-left: 0;
        }
        25% {
            margin-left: -100%;
        }
        45% {
            margin-left: -100%;
        }
        50% {
            margin-left: -200%;
        }
        70% {
            margin-left: -200%;
        }
        75% {
            margin-left: -300%;
        }
        100% {
            margin-left: -300%;
        }
    }
    /* para facebook y google */
    
    .redes-sociales {
        text-align: center;
        /* line-height: 5em; */
        /* margin-top: 0.625em; */
        margin-top: 5px;
        display: inline-block;
    }
    
    .redes-sociales a {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        line-height: 2.5em;
        display: inline-block;
        background: navy;
        color: white;
        /* margin-left: 1.25em; */
    }
    
    .redes-sociales a.youtube {
        background: hsl(1, 100%, 50%);
    }
    
    .redes-sociales a.youtube:hover {
        /* background: #c05554; */
        /* background-color: rgba(rgb(255, 0, 0), rgb(255, 0, 0), rgb(255, 0, 0), 0.5) */
        background: rgba(255, 0, 0, 0.418);
    }
    
    .redes-sociales a.twitter {
        background: #55acee;
    }
    
    .redes-sociales a.facebook {
        /* background: #3b5898; */
        background: #31487D;
    }
    
    .redes-sociales a.facebook:hover {
        /* background: #3b5898; */
        background: rgba(17, 0, 255, 0.644);
    }
    
    .o {
        margin-bottom: 0;
        text-align: center;
    }
    
    footer {
        text-align: center;
    }
    /* Media Queries */
    
    @media screen and (max-width: 1198px) {
        /* ================================
                    Header
        ================================ */
        .logo {
            width: 80px;
            height: 80px;
        }
        .logo h1 {
            color: #262744;
            font-weight: 500;
            margin-top: 20px;
        }
        .logo img {
            width: 80px;
            height: 100px;
        }
        .menu {
            margin-top: 25px;
        }
        nav ul {
            margin-right: 0px;
        }
        /* ================================
                Main
    ================================ */
        .jugador img {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 180px;
            height: 180px;
        }
        .btnInicio {
            margin: 0px 80px;
        }
        .btnInicio a {
            margin: 0px 0 20px 0px;
        }
        .btnSecundario {
            margin: 0 30px;
        }
        .ladoD {
            margin-top: 20px;
        }
        .smsTexto {
            margin-left: 45px;
            margin-right: 20px;
            font-size: 15px;
        }
        /* lado derecho */
        .img1 {
            height: 335px;
            width: 487px;
        }
        #capa2 img {
            position: relative;
            margin-top: 92px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 200px;
            width: 213px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 74px;
            width: 80%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
    }
    
    @media screen and (max-width: 1024px) {
        /* ================================
                    Header
        ================================ */
        body {
            background: url('/assets/bg_gradiente.png');
            background-size: cover;
            background-attachment: fixed;
        }
        .logo {
            width: 60px;
            height: 60px;
        }
        .logo h1 {
            margin: 12px 0px 0px 10px;
        }
        .logo img {
            width: 70px;
            height: 85px;
        }
        .menu {
            margin-top: 25px;
        }
        .menu a {
            color: #262744;
        }
        /* ================================
                Main
    ================================ */
        .jugador img {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 180px;
            height: 180px;
        }
        .smsTexto p {
            font-size: 15px;
            text-align: center;
            margin-right: 20px;
        }
        .btnInicio {
            margin: 0px 100px;
        }
        /* lado derecho */
        .img1 {
            height: 335px;
            width: 393px;
            margin-left: 15px;
        }
        #capa2 img {
            position: relative;
            margin-top: 92px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 200px;
            width: 113px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 77px;
            width: 64%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
        .pie {
            margin-top: 30px;
        }
    }
    
    @media screen and (max-width: 990px) {
        /* ================================
                    Header
        ================================ */
        .logo h1 {
            font-weight: 400;
            font-size: 30px;
            margin-top: 20px;
        }
        .menu {
            margin-top: 30px;
        }
        .navbar-nav {
            display: inline-block;
        }
        /* #navbarNav {
            display: inline-block;
        } */
        nav ul {
            float: right;
        }
        nav ul li {
            display: inline-block;
            /* margin: 0 2px; */
        }
        /* .navbar-collapse {
            flex-grow: 0;
            flex-basis: 0;
        } */
        /* #navbarNav ul {
            display: flex;
        } */
        /* .checkbtn {
            display: block;
            margin-right: 40px;
        } */
        /* ================================
                    Main
        ================================ */
        .jugador img {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 400px;
            height: 180px;
        }
        .smsTexto {
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 15px;
        }
        .smsTexto p {
            text-align: center;
            margin-left: 0;
            margin-right: 0;
        }
        .btnInicio {
            margin: 0px 10px;
        }
        .btnInicio a {
            margin: 0px 0 20px 0px;
        }
        .btnSecundario {
            margin: 0px 10px;
        }
        .btnSecundario .uno {
            display: block;
            margin-bottom: 20px;
        }
        .btnSecundario .dos {
            display: block;
        }
        /* lado derecho */
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 473px;
            margin-left: 102px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 140px;
            width: 336px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
            /* margin-left: 70px; */
        }
        .contorno {
            margin-left: 175px;
            width: 107%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
        .fo {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        footer {
            font-weight: 600;
            color: white;
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 768px) {
        /* ================================
                    Header
        ================================ */
        .titulo {
            margin-top: 0;
        }
        .conT {
            margin-top: 0;
        }
        .navbar {
            padding: 0;
        }
        .checkbtn {
            display: block;
            margin-right: 40px;
        }
        .menu ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            /* background: #60498a; */
            /* background: #8A0085; */
            background: rgba(255, 93, 177, 1);
            background: -moz-linear-gradient(left, rgba(255, 93, 177, 1) 0%, rgba(138, 0, 133, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 93, 177, 1)), color-stop(100%, rgba(138, 0, 133, 1)));
            background: -webkit-linear-gradient(left, rgba(255, 93, 177, 1) 0%, rgba(138, 0, 133, 1) 100%);
            background: -o-linear-gradient(left, rgba(255, 93, 177, 1) 0%, rgba(138, 0, 133, 1) 100%);
            background: -ms-linear-gradient(left, rgba(255, 93, 177, 1) 0%, rgba(138, 0, 133, 1) 100%);
            background: linear-gradient(to right, rgba(255, 93, 177, 1) 0%, rgba(138, 0, 133, 1) 100%);
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#8a0085', GradientType=1);
            top: 110px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 2;
        }
        nav ul li {
            display: block;
            margin: 30px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        a:hover,
        a.active {
            background: none;
            color: #0082e6;
            /* display: block;
            margin: 30px 0;
            line-height: 30px;
            font-size: 20px; */
        }
        .checkbtn {
            margin-top: 6px;
        }
        #check:checked~ul {
            left: 0;
        }
        /* margin-top: 40px; */
        /* ================================
                    Main
        ================================ */
        .smsTexto p {
            margin-top: 0px;
            margin-left: 0px;
        }
        .jugador {
            margin: 20px 0 0 0;
        }
        .btnInicio {
            margin: 20px 100px 0px 100px;
        }
        .btnSecundario {
            margin: 0px 100px;
        }
        /* lado derecho */
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 470px;
            margin-left: 0px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            height: 140px;
            width: 336px;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
            /* margin-left: 70px; */
        }
        .contorno {
            margin-left: 72px;
            width: 70%;
        }
        .contorno ul li {
            margin-left: 0px;
            /* carusel espacio de imagenes */
        }
        .fo {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        footer {
            font-weight: 600;
            color: white;
        }
    }
    
    @media screen and (max-width: 578px) {
        .logo img {
            margin-left: 50px;
        }
        .checkbtn i {
            margin-right: 25px;
        }
    }
    
    @media screen and (max-width: 500px) {
        .logo img {
            margin-left: 50px;
        }
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 350px;
            margin-left: 43px;
            margin-bottom: 40px;
        }
        .btnInicio {
            margin: 0px;
        }
        .btnSecundario {
            margin: 0px;
        }
        .smsTexto p {
            margin-right: 0px;
        }
        .smsTexto {
            margin-top: 0px;
            margin-right: 0px;
            margin-left: 0px;
            /* padding-right: 30px; */
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 97px;
            width: 61%;
        }
        .contorno ul li {
            margin-left: 0px;
        }
    }
    
    @media screen and (max-width: 404px) {
        .titulo {
            margin-left: 30px;
        }
        .logo img {
            margin-left: 15px;
        }
        .checkbtn i {
            margin-right: 15px;
        }
        .smsTexto {
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 0px;
            /* padding-right: 30px; */
        }
        .jugador img {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 220px;
            height: 220px;
        }
        .smsTexto p {
            margin-top: 0px;
        }
        .btnInicio {
            margin: 0px;
        }
        .btnSecundario {
            margin: 0px;
        }
        .img1 {
            margin-top: 30px;
            height: 235px;
            width: 250px;
            margin-left: 60px;
            margin-bottom: 40px;
        }
        #capa2 img {
            position: relative;
            margin-top: 95px;
            margin-left: 0px;
            border: solid 1px #B7B7B7;
            box-sizing: content-box;
            border-radius: 0px 0px 10px 10px;
        }
        #capa2 img {
            width: 100%;
        }
        .contorno {
            margin-left: 98px;
            width: 52%;
        }
    }