{{!-- <script src="src/router/index.js"></script> --}}

<nav class="navbar navbar-expand-lg navbar-tranparent bg-tranparent titulo">
   <div class="container">
        <div class="navbar-brand logo d-inline " href="#">
      
            <img src="/assets/logo1.png">
            <h1 class="nom d-inline">FunPlay</h1>
       
        </div>
    
    <div class=" menu" id="">
      
        <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
        </label>

        <ul class=" navbar-nav ml-auto ">
            <li class="nav-item  ">
                <a class="nav-link" id="home" href="/">Inicio </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="about" href="/about">Acerca de</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="contact" href="/contact">Contácto</a>
            </li>
            
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" id="plays" href="/plays">Plays </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" id="notes" href="/notes">Notes </a>
            </li>

             <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink bajo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/users/logout">Salir</a>
                </div>
            </li>
        
            {{/if}}
           
        </ul>
    </div>
   </div>
</nav>