<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                         {{title}}
                         <a href="/notes/edit/{{_id}}">
                             <i class="fa fa-edit"></i>
                         </a>
                    </h4>
                    <p>
                     {{{description}}}
                    </p>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-outline-danger btn-block" type="submit">
                            Eliminar
                        </button>
                    </form>
                    <hr>
                    <h6>
                     {{date}}
                    </h6>
                </div>
            </div>
        </div>

        {{else}}
                <div class="card mx-auto">
                    <div class="card-body">
                        <p class="lead">
                            Aun no tienes notas, agregalas!
                        </p>
                        <a href="/notes/add" class="btn btn-outline-success btn-block">
                            Crear nota
                        </a>
                    </div>
                </div>
    {{/each}}
</div>