<link rel="stylesheet" href="/css/signin.css">


<div class="row fila">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mx-auto">
        <div class="card  text-center">
            
                <img src="/assets/sign.svg" alt="" class="imgSign ">
                <h3 class="bienvenido">Bienvenido!</h3>
                <h6 class="txt">Usa tu email y clave para iniciar sesión</h6>

            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" >
                    </div>
                    <div class="recuperar">
                        <a href="/">
                            Olvidaste tu contraseña?
                        </a>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-info btn-block sign">
                            Ingresar
                        </button>
                    </div>
                </form>

                <p class="registrar">
                    No tienes una cuenta? <a href="/users/signup">Regístrate</a>
                </p>

                <hr class="linea">
                    <div class="form-group">
                        <a href="/google" type="submit" class="btn btn-outline-danger btn-block google">
                            <i class="fa fa-google"></i>
                            Iniciar sesión con Google
                        </a>
                    </div>
                    {{!-- <div class="form-group g-signin2 btn btn-outline-danger btn-block google" data-onsuccess="onSignIn">
                        
                    </div>
                    <a href="#" onclick="signOut();">Sign out</a> --}}
                    <div class="form-group">
                        <a href="/auth/facebook" type="submit" class="btn btn-outline btn-block face">
                            <i class="fa fa-facebook"></i>
                            Iniciar sesión con Facebook
                        </a>
                    </div>
            </div>

        </div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="582658792983-u8oj769phitpdrcemsctbamsgapr8ho0.apps.googleusercontent.com">

{{!-- <script>
    function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
}

function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script> --}}


{{!-- 
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script> --}}